%h1= page_title! "Términos y Condiciones"

%ul
  %li La promoción es válida por 1 consulta de evaluación gratis y 1 sobre de Sacián para degustar en dicha consulta en nuestros locales.

  %li Promoción válida hasta el 30 de julio de 2013.

  %li Promoción exclusiva para personas que concurran a nuestros locales.

  %li Esta promoción no es acumulable con otras promociones.

  %li Válida para los siguientes países: Perú, Bolivia y Costa Rica.
