= @contacto.nombre + ", gracias por participar, pronto nos estaremos comunicando contigo para programar la consulta y entregarte tu prueba de regalo."

Si deseas programarla ahora mismo comunícate con nosotros al 336-5633 en Santa Cruz y al 243-3353 en La Paz con tu nombre y apellido y confirmaremos tu cita.

= render 'firma'
