= @contacto.nombre + ", gracias por participar, pronto nos estaremos comunicando contigo para programar la consulta y entregarte tu prueba de regalo."

Si deseas programarla ahora mismo comunícate con nosotros al 22259393 con tu nombre y apellido y confirmaremos tu cita.

= render 'firma'
